<nav>
    <div class="site-title">
        <a href="/"><h1>Book Reviews</h1></a>
        <p>Enjory reading and remembering your thoughts</p>
    </div>
    <ul>        
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/comments">Comments</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/users/new">Login</a></li>
    </ul>
</nav>